# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* Simple Arithmetic Exmaples in Python
* Common Open Source tools used by Data Scientists
* Popular Languages used by Data Scientists
* Libraries commonly used by Data Scientists

## Author
Ethan Tinoco

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
   1. Pandas
   2. Matplotlib
   3. TensorFlow

|Data Science Tools|
|-----------------|
|RStudio|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

$9*317$ =

$2853$

$927438/6524$ =

$142.15787860208462$

In [12]:
#This is a simple arthimetic expression on integers 
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335